<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have favorited your own post, "<%= @post.title %>"</h1>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
